<section class="index-page">
  <div>
    <img src="{{userAvatar}}" alt="User Avatar" class="avatar" />
  </div>
  <h1>
    Hello {{userName}} {{userSurname}}!
  </h1>

  <a class="logoutBtn logoutBtn--google" href="/auth/logout">
    Log out
  </a>
</section>